<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.mapper.MyStudyMapper">
  <resultMap id="BaseResultMap" type="com.zxq.pojo.MyStudy">
    <id column="courseStudyId" jdbcType="INTEGER" property="coursestudyid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="viewsrc" jdbcType="VARCHAR" property="viewsrc" />
    <result column="coursename" jdbcType="VARCHAR" property="coursename" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    courseStudyId, userid, viewsrc, coursename
  </sql>
  <select id="selectByExample" parameterType="com.zxq.pojo.MyStudyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mystudy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mystudy
    where courseStudyId = #{coursestudyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mystudy
    where courseStudyId = #{coursestudyid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zxq.pojo.MyStudyExample">
    delete from mystudy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zxq.pojo.MyStudy">
    insert into mystudy (courseStudyId, userid, viewsrc, 
      coursename)
    values (#{coursestudyid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{viewsrc,jdbcType=VARCHAR}, 
      #{coursename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxq.pojo.MyStudy">
    insert into mystudy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coursestudyid != null">
        courseStudyId,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="viewsrc != null">
        viewsrc,
      </if>
      <if test="coursename != null">
        coursename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coursestudyid != null">
        #{coursestudyid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="viewsrc != null">
        #{viewsrc,jdbcType=VARCHAR},
      </if>
      <if test="coursename != null">
        #{coursename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zxq.pojo.MyStudyExample" resultType="java.lang.Long">
    select count(*) from mystudy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mystudy
    <set>
      <if test="record.coursestudyid != null">
        courseStudyId = #{record.coursestudyid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.viewsrc != null">
        viewsrc = #{record.viewsrc,jdbcType=VARCHAR},
      </if>
      <if test="record.coursename != null">
        coursename = #{record.coursename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mystudy
    set courseStudyId = #{record.coursestudyid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      viewsrc = #{record.viewsrc,jdbcType=VARCHAR},
      coursename = #{record.coursename,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxq.pojo.MyStudy">
    update mystudy
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="viewsrc != null">
        viewsrc = #{viewsrc,jdbcType=VARCHAR},
      </if>
      <if test="coursename != null">
        coursename = #{coursename,jdbcType=VARCHAR},
      </if>
    </set>
    where courseStudyId = #{coursestudyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxq.pojo.MyStudy">
    update mystudy
    set userid = #{userid,jdbcType=INTEGER},
      viewsrc = #{viewsrc,jdbcType=VARCHAR},
      coursename = #{coursename,jdbcType=VARCHAR}
    where courseStudyId = #{coursestudyid,jdbcType=INTEGER}
  </update>
</mapper>