<?xml version="1.0" encoding="UTF-8" ?>
<!--    mybatis 从 XML 中构建 SqlSessionFactory  中引入-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

<!--    引用properties文件-->
    <properties resource="db.properties"></properties>

<!--    类型别名-->
    <typeAliases>
        <typeAlias alias="Users" type="com.ssm.entity.Users"/>
    </typeAliases>

    <!--    配置环境-->
    <environments default="development">
        <!--        配置mysql的环境-->
        <environment id="development">
            <!--            配置事务类型-->
            <transactionManager type="JDBC"/>
            <!--            配置数据源(连接池)-->
            <dataSource type="POOLED">

<!--                获取properties文件参数值，根据key获取value-->
                <property name="driver" value="${driver}"/>
                <property name="url"
                          value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>


    <!--        xml映射文件名有要求，xxxMapper，xxx表示实体类（表一一对应）
    users表  users类  usersMapper.xml
    UsersMapper.xml  中包含各种sql语句
    如果要执行sql语句，通过映射接口UsersMapper；跟UsersMapper.xml关联，接口名要求必须跟xml文件一致
    -->
    <mappers>

        <mapper resource="mappers/UsersMapper.xml"/>
        <mapper resource="mappers/cartproMapper.xml"/>
        <mapper resource="mappers/productMapper.xml"/>
        <mapper resource="mappers/cartMapper.xml"/>
        <mapper resource="mappers/NewProductMapper.xml"/>
        <mapper resource="mappers/MembersMapper.xml"/>

    </mappers>
    <!--    -->
</configuration>