<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--<context-param>-->
    <!--    <param-name>text</param-name>-->
    <!--    <param-value>全局参数</param-value>-->
    <!--</context-param>-->


    <!--    <servlet>-->
    <!--        课上        -->
    <!--        <servlet-name>xmlServlet</servlet-name>-->
    <!--        <servlet-class>csi.servlet.xmlServlet</servlet-class>-->

    <!--        <init-param>-->
    <!--            <param-name>code</param-name>-->
    <!--            <param-value>UTF-8</param-value>-->
    <!--        </init-param>-->


    <!--            视频-->
    <!--    <servlet>-->
    <!--        <servlet-name>demo01</servlet-name>-->
    <!--        <servlet-class>csi.servlet.ServletDemo1</servlet-class>-->
    <!--    </servlet>-->


    <!--    <servlet-mapping>-->
    <!--        <servlet-name>demo01</servlet-name>-->
    <!--        <url-pattern>/demo1</url-pattern>-->
    <!--    </servlet-mapping>-->


<!--    <filter>-->
<!--        <filter-name>xmlFilter</filter-name>-->
<!--        <filter-class>csi.filter.xmlFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>xmlFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->



    <filter>
        <filter-name>encodding</filter-name>
        <filter-class>csi.filter.EncoddingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>encodding</filter-name>
        <url-pattern>/*</url-pattern>               <!--  对所有资源进行过滤        -->
    </filter-mapping>
    <!--                <url-pattern>/classtest/3.9/*</url-pattern>-->
    <!--                <url-pattern>*.jsp</url-pattern>-->
    <!--                <url-pattern>*/longin.do</url-pattern>-->


    <!--        <dispatcher>REQUEST</dispatcher>    &lt;!&ndash;        默认  &ndash;&gt;-->
    <!--&lt;!&ndash;        <dispatcher></dispatcher>&ndash;&gt;-->




<!--        <welcome-file-list>-->
<!--            <welcome-file>index.jsp</welcome-file>-->
<!--            <welcome-file>login.jsp</welcome-file>-->
<!--            <welcome-file>register.jsp</welcome-file>-->

<!--        </welcome-file-list>-->



</web-app>